@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

.home {
    background: url('../images/news-home.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 63vh;
}

.home-content {
	margin: 37vh 0 0 15px;
    width: 100%;
    text-align: left;
}

.home-title {
    font-size: 48px;
    font-weight: 200;
    color: #FFFFFF;
}

.home-breadcrumb {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

.home-breadcrumb a {
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;
    transition: all 200ms ease;
}
.home-breadcrumb a:hover {
    color: #D67F1E;
}

.home-breadcrumb:not(:last-child)::after {
    content: '/';
    margin-left: 3px;
}

.news {
	padding-top: 104px;
	padding-bottom: 120px;
}

.news-post {
	width: 100%;
	margin-bottom: 59px;
}

.news-post:last-child {
	margin-bottom: 0;
}

.post-title a {
	font-size: 40px;
	font-weight: 300;
	color: #131a2f;
	transition: all 200ms ease;
}
.post-title a:hover {
	color: #D67F1E;
}

.post-meta {
	margin-top: 12px;
}

.post-meta ul li {
	display: inline-block;
	position: relative;
	font-size: 12px;
	font-weight: 600;
	color: #7d8293;
	text-transform: uppercase;
	padding-right: 26px;
}

.post-meta ul li::after {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	content: '|';
}

.post-meta ul li:last-child::after {
	display: none;
}

.post-meta ul li a {
	font-size: 12px;
	font-weight: 600;
	color: #7d8293;
	text-transform: uppercase;
	transition: all 200ms ease;
}

.post-meta ul li a:hover {
	color: #D67F1E;
}

.post-image {
	margin-top: 28px;
}

.post-image img {
	max-width: 100%;
}

.post-text {
	margin-top: 40px;
}

.post-text p:last-of-type {
	margin-bottom: 0;
}

.sidebar {
	width: 100%;
	padding-top: 15px;
}

.sidebar-featured-post {
	margin-bottom: 26px;
}

.sidebar-featured-image {
	width: 100%;
}

.sidebar-featured-image img {
	max-width: 100%;
}

.sidebar-featured-title {
	margin-top: 30px;
}

.sidebar-featured-title a {
	font-size: 20px;
	font-weight: 400;
	color: #131a2f;
	transition: all 200ms ease;
}

.sidebar-featured-title a:hover {
	color: #D67F1E;
}

.sidebar-featured-meta {
	margin-top: 8px;
}

.sidebar-featured-meta ul li {
	display: inline-block;
	position: relative;
	font-size: 9px;
	font-weight: 500;
	color: #7d8293;
	text-transform: uppercase;
	padding-right: 18px;
}

.sidebar-featured-meta ul li::after {
	display: block;
	position: absolute;
	top: 0;
	right: 6px;
	content: '|';
}

.sidebar-featured-meta ul li:last-child::after {
	display: none;
}

.sidebar-featured-meta ul li a {
	font-size: 9px;
	font-weight: 500;
	color: #7d8293;
	text-transform: uppercase;
	transition: all 200ms ease;
}

.sidebar-featured-meta ul li a:hover {
	color: #D67F1E;
}

.sidebar-offers {
	margin-top: 52px;
}

.sidebar-offer {
	width: 100%;
	padding: 43px 21px 97px 21px;
	margin-bottom: 38px;
}

.sidebar-offer:last-child {
	margin-bottom: 0;
}

.offer-1 {
    background: url('../images/sidebar-special-1.png') no-repeat center center;
}

.offer-2 {
    background: url('../images/sidebar-special-2.png') no-repeat center center;
}

.sidebar-offer-content {
	background: rgba(214, 127, 30, 0.79);
	color: #FFFFFF;
	padding: 21px 30px 40px 33px;
}

.sidebar-offer-destination {
	font-size: 7px;
	font-weight: 600;
	text-transform: uppercase;
}

.sidebar-offer-discount {
	font-size: 68px;
	font-weight: 100;
	line-height: 0.75;
	margin-top: 4px;
}

.sidebar-offer-title {
	font-size: 18px;
	font-weight: 400;
	margin-top: 4px;
}

.sidebar-offer-description {
	font-size: 9px;
	font-weight: 500;
	line-height: 1.77;
	text-align: center;
	margin-top: 8px;
}

.sidebar-offer-button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -17px;
	width: 117px;
	height: 41px;
	background: rgba(19,26,47,1);
	text-align: center;
	transition: all 200ms ease;
}

.sidebar-offer-button:hover {
	background: rgba(19,26,47,0.8);
}

.sidebar-offer-button a {
	display: block;
	line-height: 41px;
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
}
