@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

.home {
    background: url('../images/reviews-home.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 63vh;
}

.home-content {
	margin: 37vh 0 0 15px;
    width: 100%;
    text-align: left;
}

.home-title {
    font-size: 48px;
    font-weight: 200;
    color: #FFFFFF;
}

.home-breadcrumb {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

.home-breadcrumb a {
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.home-breadcrumb a:hover {
    color: #D67F1E;
}

.home-breadcrumb:not(:last-child)::after {
    content: '/';
    margin-left: 3px;
}

.reviews {
	padding-top: 104px;
	padding-bottom: 120px;
}

.reviews-post {
	width: 100%;
	margin-bottom: 59px;
}

.reviews-post:last-child {
	margin-bottom: 0;
}

blockquote p {
	color: #131a2f;
	box-sizing: border-box;
	line-height: 1.4 !important;
	text-shadow: 0 1px #7d8293;
	font-style: italic;
	font-size: 34px;
	font-weight: 300;
	transition: all 200ms ease;
}

blockquote p:first-child:before {
	content: '\201C';
	color: #D67F1E;
	font-size: 7.5em;
	font-weight: 700;
	opacity: .3;
	position: absolute;
	top: -.4em;
	left: -.2em;
	text-shadow: none;
	z-index: -300;
}

.item-more {
	margin-top: 10px;
}

.item-more a {
	font-size: 12px;
	color: #131a2f;
	transition: all 200ms ease;
}

.item-more a:hover {
	color: #D67F1E;
}

.post-meta {
	margin-top: 12px;
}

.post-meta ul li {
	display: inline-block;
	position: relative;
	font-size: 12px;
	font-weight: 600;
	color: #7d8293;
	text-transform: uppercase;
	padding-right: 26px;
}

.post-meta ul li::after {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	content: '|';
}

.post-meta ul li:last-child::after {
	display: none;
}

.post-meta ul li a {
	font-size: 12px;
	font-weight: 600;
	color: #7d8293;
	text-transform: uppercase;
	transition: all 200ms ease;
}

.post-meta ul li a:hover {
	color: #D67F1E;
}

.post-image {
	margin-top: 20px;
}

.post-image img {
	max-width: 100%;
}

.post-text {
	margin-top: 20px;
}

.post-text p:last-of-type {
	margin-bottom: 0;
}

.sidebar {
	width: 100%;
	margin-top: -25px;
}

.sidebar-comment-title {
	font-size: 23px;
	font-weight: 400;
	color: #131a2f;
	transition: all 200ms ease;
}

.sidebar-comment-button {
	width: 100%;
	text-align: center;
	margin: 22px 0;
	border: #131a2f 1px solid;
	overflow: hidden;
}

.sidebar-comment-button a {
	display: inline-block;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: #131a2f;
	padding: 10px 15px;
	transition: all 400ms ease;
}

.sidebar-comment-button a:hover,
.sidebar-comment-button:hover{
	color: #D67F1E;
	border-color: #D67F1E;
}

.sidebar-comment-button::before {
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	content: '';
	background: #D67F1E;
	transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
}

.sidebar-comment-button:hover::before {
	left: 100%;
}

.sidebar-comment-text {
	margin-top: 13px;
	font-size: 14px;
}

.sidebar-comment-info {
	margin-top: 13px;padding-top: 7px;
}

.sidebar-comment-info ul li {
	margin-bottom: 10px;
	margin-left: 20px;
}

.sidebar-comment-info ul li:first-child {
	list-style-image: url("../images/list-icon.png");
	list-style-position: outside;
	font-weight: 600;
}