@charset "utf-8";

.home {
	background: url('../images/offers-home.png') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 63vh;
}

.home-content {
	margin: 37vh 0 0 15px;
	width: 100%;
	text-align: left;
}

.home-title {
	font-size: 48px;
	font-weight: 200;
	color: #FFFFFF;
}

.home-breadcrumb {
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF;
}

.home-breadcrumb a {
	font-size: 18px;
	font-weight: 200;
	color: #FFFFFF;
	transition: all 200ms ease;
}
.home-breadcrumb a:hover {
	color: #D67F1E;
}

.home-breadcrumb:not(:last-child)::after {
	content: '/';
	margin-left: 3px;
}

.filters-group-sorting {
	float: left;
}

.filters-group-icons {
	float: right;
}

.filters-group-icons ul {
	float: left;
}
.filters-group-icons ul li {
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	color: #9195a3;
	margin-right: 30px;
	line-height: 36px;
}

.filters-group-icons ul li:last-child {
	margin-right: 0;
}

.offers {
	width: 100%;
	padding-bottom: 114px;
}

.sorting {
	display: inline-block;
}

.sorting > li {
	display: inline-block;
	position: relative;
	width: 132px;
	height: 36px;
	line-height: 32px;
	cursor: pointer;
	border: solid 2px #dbdbdb;
	padding-left: 15px;
	padding-right: 7px;
	margin-right: 16px;
	font-size: 12px;
	font-weight: 500;
	color: #131a2f;
	margin-bottom: 10px;
}

.sorting li i {
	float: right;
	line-height: 32px;
	font-size: 18px;
	color: #d0d0d0;
}

.sorting li ul {
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	transition: all 0.3s ease;
}

.sorting > li:hover ul {
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}

.sorting li ul li {
	display: block;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

.sorting li ul li span {
	display: block;
	height: 36px;
	line-height: 36px;
	border-bottom: solid 1px #dddddd;
	color: #131a2f;
	transition: all 0.3s ease;
}

.sorting li ul li span:hover {
	color: #b5aec4;
}

.sorting li ul li:last-child span {
	border-bottom: none;
}

.sorting li span:nth-child(2) {
	margin-left: 71px;
}

.offers-content {
	margin-top: 90px;
}

.offers-item {
	margin-bottom: 35px;
}

.offers-item.box {
	 width: 50%;
	 float: left;
 }

.item-image {
	width: 25%;
	float: left;
}
.offers-item.box .item-image {
	width: 50%;
}

.item-image img {
	max-width: 100%;
}

.item-content {
	width: 75%;
	padding-left: 29px;
	margin-top: -4px;
	float: left;
}

.offers-item.box .item-content {
	width: 50%;
}

.item-content ul {
	margin-top: 13px;
}

.item-content ul li {
	display: inline-block;
	font-size: 12px;
	color: #878c9b;
}

.item-content ul li:not(:last-of-type)::after {
	content:'/';
	margin-left: 5px;
}

.item-price {
	font-size: 14px;
	font-weight: 500;
	color: #131a2f;
}

.item-title {
	font-size: 20px;
	font-weight: 500;
	color: #131a2f;
	margin-top: 1px;
}

.item-text {
	font-size: 15px;
	line-height: 2;
	margin-top: 11px;
	text-align: justify;
}

.offers-item.box .item-text {
	display: none;
}

.item-more {
	margin-top: 28px;
}

.item-more a {
	font-size: 12px;
	color: #131a2f;
	transition: all 200ms ease;
}

.item-more a:hover {
	color: #D67F1E;
}

.rating {
	margin-top: 11px;
}

.rating span {
	font-size: 19px;
	margin-right: 4px;
	color: #878c9b;
}

.rating span:last-child {
	margin-right: 0;
}

.rating_1 span:first-child{color: #fa9e1b;}
.rating_2 span:first-child{color: #fa9e1b;}
.rating_2 span:nth-child(2){color: #fa9e1b;}
.rating_3 span:first-child{color: #fa9e1b;}
.rating_3 span:nth-child(2){color: #fa9e1b;}
.rating_3 span:nth-child(3){color: #fa9e1b;}
.rating_4 span:first-child{color: #fa9e1b;}
.rating_4 span:nth-child(2){color: #fa9e1b;}
.rating_4 span:nth-child(3){color: #fa9e1b;}
.rating_4 span:nth-child(4){color: #fa9e1b;}
.rating_5 span:first-child{color: #fa9e1b;}
.rating_5 span:nth-child(2){color: #fa9e1b;}
.rating_5 span:nth-child(3){color: #fa9e1b;}
.rating_5 span:nth-child(4){color: #fa9e1b;}
.rating_5 span:nth-child(5){color: #fa9e1b;}

.sorting-icons {
	float: left;
}

.detailed-view {
	float: left;
	font-size: 20px;
	margin-right: 16px;
	margin-left: 36px;
	cursor: pointer;
}

.detailed-view span,
.box-view span {
	transition: all 200ms ease;
}

.detailed-view:hover span,
.box-view:hover span {
	color: #D67F1E;
}

.box-view {
	font-size: 20px;
	float: left;
	cursor: pointer;
}